@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

form {
  width: 100%;
}

/* Scroll bar styles */
::-webkit-scrollbar {
  width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff7708;
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ff7708;
}

/* .slick-dots button {
    font-size: 1rem;
    height: 1rem;
    display: block;
    width: 1rem;
    height: 1rem;
    padding: 0;
    border: none;
    border-radius: 100%;
    background-color: blue;
    text-indent: -9999px;
  } */

.slick-dots li button:before {
  color: #ff7708 !important;
  font-size: 1rem !important;
  opacity: 30% !important;
}

.slick-dots li.slick-active button:before {
  color: #ff7708 !important;
  font-size: 1rem !important;
  opacity: 100% !important;
}
